.cash-box {
  display: inline;
  background: silver;
  border: 10px solid gray;
  border-radius: 2px;
  padding: 100px 100px;

  /* Inline width & height won't work */
  height: 100px;
  width: 100px;

  /* top and bottom | left and right */
  margin: 10px 0px;

  /* x | y | blur | color */
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.777);
}

.cash-box span {
  font-size: 100px;
  color: gainsboro;
}

.store-room {
  width: 100%;
  height: 100%;
  padding: 20px;
}
