.cash-box {
  display: inline-block;
  background: silver;
  border: 10px solid gray;
  border-radius: 2px;
  padding: 60px 100px;

  /* Shadow for element (x, y, blur, color)*/
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.777);
}

.cash-box span {
  font-size: 100px;
  color: gainsboro;
}
