.cash-box {
  /* display: inline; */
  background: silver;
  border: 10px solid gray;
  border-radius: 2px;
  padding: 100px 100px;

  /* When display is inline width & height won't apply for that element */
  height: 100px;
  width: 100px;

  /* top and bottom | left and right */
  /* margin: 10px 0px; */

  /* x | y | blur | color */
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.777);
}

.cash-box span {
  font-size: 100px;
  color: gainsboro;
}

.store-room {
  padding: 20px;
}

.cash-box-container {
  background: rgb(88, 14, 14);
  padding: 30px;
  border: 10px solid rgb(131, 34, 34);
  border-radius: 8px;
  margin: 10px 0px;
  height: 400px;

  /* Set shadows to inner of box */
  box-shadow: inset 30px -30px rgb(70, 9, 9), inset -30px 30px rgb(70, 9, 9);

  display: flex;
  gap: 10px;

  /*

  Q2: How to maintain particular amount of gap between each box once 

  Q2: How we distribute space evenly between the boxes, if the boxes in the container are less,
  so that won't stick to the box edges to left and right
  
  

  Q3: How we can make the boxes not stick to top and bottom edge of the container?
  */
}
